<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      #user-comentario {
        display: flex;
        border: 0.5px solid black;
      }

      #user-comentario p {
        padding: 3px;
        padding-right: 10px;
        margin: 0;
      }
    </style>
    <title>Biblioteca</title>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="main">
          <h1>Livros</h1>
          Olá <span id="nome-user"><%= user.nome %></span>

          <button id="show-livros-emprestados">Ver Livros emprestados em meu nome</button>
          <div id="livros-emprestimo-user" style="display: none;">
            <ul>
            <% usersEmprestimos.forEach(livro => { %>
                <% livro.Livros.forEach(emprestimo => { %>
                  <li>
                    <%= emprestimo.titulo %>
                    <button class="devolverLivro">Devolver Livro</button>
                    <div data-livro-id-emprestimo="<%= emprestimo.id %>" class="avaliacao-livro-<%= emprestimo.id %>">
                      <input type="range" min="1" max="5" value="1" class="avaliacao-range">
                      <p class=`valor-avaliacao-<%= emprestimo.id %>`></p>
                    </div>
                  </li>
                <% }) %>
            <% }) %>
          </ul>
          </div>

          <div id="user-data" style="display: none;">
            <span id="user-id"><%= user.id %></span>
            <span id="user-nome"><%= user.nome %></span>
            <span id="user-email"><%= user.email %></span>
          </div>
          
          <ul>
              <% livros.forEach(livro => { %>
                <li class="livro-item" data-livro-id="<%= livro.id %>">
                  <div class="emprestimo">
                    <h3>Titulo: <%= livro.titulo %></h3>
                    <% 
                      const livroEmprestado = livrosEmprestados.find(livroEmp => livroEmp.id === livro.id);
                      if (livroEmprestado) { 
                    %>
                      <h2>Livro Alugado</h2>
                    <% } else { %>
                      <button class="emprestimoButton">Alugar Livro</button>
                    <% } %>
                  </div>
                  
                  <div class="containerComentarios">
                    <% comentarios.forEach(comentario => { %>
                      <% if(livro.id === comentario.LivroId) { %>
                        <div id="user-comentario">
                          <p><%= comentario.User.nome %>: <%= comentario.coment %></p>
                        </div>
                        <p>likes: <strong><%= comentario.like %></strong></p>
                      <% } %>
                    <% }) %>
                  </div>
                  <input type="text" name="comentario" id="comentario-input">
                  <input type="submit" value="Comentar" class="comentar">

                  <div class="livro-data" style="display: none;">
                    <span id="livro-id"><%= livro.id %></span>
                  </div>
                </li>
              <% }) %>
          </ul>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const addComentHTML = () => {
          const userId = document.getElementById("user-id").innerText
          const comentarButtons = document.querySelectorAll(".comentar")

          comentarButtons.forEach((button) => {
            button.addEventListener("click", (event) => {
              const user = document.getElementById("nome-user").innerText

              // Selecionando o livro de acordo com o post do comentário
              const livroItem = event.target.closest(".livro-item")
              const livroId = livroItem.getAttribute("data-livro-id")
              const comentario = livroItem.querySelector("#comentario-input")
 
              const comentData = {
                livro: livroId,
                user: userId,
                coment: comentario.value
              }               

                fetch("/post-coment", {
                  method: "POST",
                  headers: {
                  "Content-Type": "application/json",
                  },
                  body: JSON.stringify(comentData)
                }).then((response) => {
                  if (!response.ok) {
                    throw new Error(
                      "Não foi possível publicar o comentario" + response.statusText
                    )
                  }
                  return response.json();
                }).then((data) => {
                  alert("Comentário Postado")

                  window.location.href = `/?userId=${userId}`
                }).catch((error) => {
                  console.error("Error:", error)
                })
            
          })
          });
        }
        addComentHTML()

        const alugarButtons = document.querySelectorAll(".emprestimoButton")

        // Redirecionar para a página de emprestimo com id do Livro selecionado
        alugarButtons.forEach(button => {
          button.addEventListener("click", (event) => {
            const livroItem = event.target.closest(".livro-item")
            const livroId = livroItem.getAttribute("data-livro-id")
            const queryString = new URLSearchParams({ livroId: livroId }).toString()
            
            window.location.href = `/emprestimo?${queryString}`
          })
        })

        // Avaliação do usuário ao livro devolvido
        const sliderAvaliacao = document.querySelectorAll(".avaliacao-range")
        const valorAvaliacao = document.querySelectorAll(".valor-avaliacao")
        const livroId = document.getAttribute("data-livro-id-emprestimo")
        
        // Corrigir Funcionamento do Slider
        sliderAvaliacao.forEach(slider => {
          valorAvaliacao.forEach(valor => {
              slider.oninput = function () {
                valor.textContent = slider.value
              }
          })
        })
        


        // Redirecionar para devolução do livro
        const buttonsDevolverLivro = document.querySelectorAll(".devolverLivro")
        buttonsDevolverLivro.forEach(button => {
          button.addEventListener("click", () => {

          //   const devolverLivro = {
          //     avalicao: "avaliação",
          //     dataDevolvido: "Data Devolvido",
          //     devolucao: true
          //   }
            
          //   fetch("/devolver-livro", {
          //         method: "POST",
          //         headers: {
          //         "Content-Type": "application/json",
          //         },
          //         body: JSON.stringify(devolverLivro)
          // })
        })
      })

        // Mostrar livros emprestados
        const showLivros = document.getElementById("show-livros-emprestados")
        const livroContainer = document.getElementById("livros-emprestimo-user")
        showLivros.addEventListener("click", () => {
          if (livroContainer.style.display === "none") {
            livroContainer.style.display = "block"
          } else {
            livroContainer.style.display = "none"
          }
        })
        
      })
    </script>
    
  </body>
</html>
